MONGO_URI=mongodb://localhost:27017
DATABASE_NAME=hospital_db
JWT_SECRET=your_jwt_secret_here
ACCESS_TOKEN_EXPIRE_MINUTES=60

# SMTP Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
# SMS Settings (Generic Android SMS Gateway)
SMS_GATEWAY_URL=your_sms_gateway_url_here
SMS_GATEWAY_USER=your_sms_gateway_user_here
SMS_GATEWAY_KEY=your_sms_gateway_key_here

# Google Login
GOOGLE_CLIENT_ID=your_google_client_id_here
